.calendar-container {
    max-width: 60%;
}

.calendar-container-delete {
    width: 50%;
}

@media screen and (max-width: 768px) {
    .calendar-container {
        max-width: 400px;
        border: 1px solid #ddd;
    }

    .calendar-container-delete {
        width: 100%;
    }
}

.lg-calendar-container {
    border: 1px solid #ddd;
    height: max-content;
    width: 40%;
}

@media screen and (max-width: 768px) {
    .lg-calendar-container {
        border: none;
        width: 100%;
    }
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f5f5f5;
    font-weight: bold;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
}

.day-label,
.day-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.day-label {
    background-color: #f5f5f5;
    font-weight: bold;
}

.day-cell {
    background-color: #fff;
    height: 50px;
}

.day-cell.outside {
    color: #aaa;
}

.day-cell.selected {
    border: 2px solid #2298FF;
}

.cevent-title {
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    overflow-wrap: break-word;
}

.cevents-list {
    padding-left: 20px;
}

@media screen and (max-width: 768px) {
    .cevents-list {
        margin-top: 20px;
        padding: 10px;
        border-top: 1px solid #ddd;
    }
}

.cevent-item {
    margin-bottom: 10px;
    border-radius: 5px;
}

.cevent-item:last-child {
    margin-bottom: 0;
}

.cevent-desc {
    overflow-wrap: break-word;
    max-height: 120px;
    overflow-y: auto;
}

.dot {
    width: 8px;
    height: 8px;
    margin: 2px;
    border-radius: 50%;
    margin-top: 5px;
}